/* ROOT e a raiz da pagina que seria o html */
:root {
    /*Isso e para nao precisar ficar colocando o codigo da cor toda vez, so charm o comando */
    --first-color: #90E0EF;
    --second-secondary: #0096C7;
    --fourth-color: #023E8A;
    --fifth-primary: #040529;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(45, 163, 231), rgb(41, 59, 99));
}

header {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 3px 7px #000000;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #0096C7;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.05rem;
    color: #0096C7;
    font-weight: 400;
}

.sair-button button {
    border: none;
    background-color: #0096C7;
    padding: 10px 15px;
    border-radius: 5px;
}

.sair-button button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
}

form {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 40px 70px;
    border-radius: 10px;
    color: var(--first-color);
}

/* Defina a largura do select para 300 pixels */
input,
select[name="pu"] {
    width: 300px;
}

#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(17, 54, 179));
    border: none;
    padding: 7px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(2, 17, 58));
}